.icon {
  font-size: 2.8rem;
}

.guideBtn {
  background-color: #43a047;
  color: #FFF;
}

.requestAccessBtn {
  background-color: #011241;
  color: #FFF;
}

.uploadBtn {
    background-color: #43a047;
    color: #FFF;
  }

.icon-info {
  font-size: 1.7rem;
  position: relative;
  left: 93%;
  color: #0745f0;
}

.my-tooltip {
  white-space: pre-line;
}

.m275 {
  min-height: 275px;
}
