<div class="my-5">
  <mat-card class="mat-elevation-z14">
      <mat-card-title class="text-center my-2" *ngIf="!isPrefilled">Create DIF Convention</mat-card-title>
    <mat-card-content>
      <form class="row" [formGroup]="difForm" (submit)='formSubmit()'>
        <h1 class="col-12">
          Employee Details
        </h1>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline" color='primary'>
            <mat-label>Employee First Name</mat-label>
            <input matInput placeholder="Enter First Name" [formControlName]="difFormEnum.FirstName">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Employee Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" [formControlName]="difFormEnum.LastName">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Employee Gender</mat-label>
            <mat-select [formControlName]="difFormEnum.Gender">
              <mat-option *ngFor="let genderValue of GenderType" [value]="genderValue.value">
                {{genderValue.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline" color='primary'>
            <mat-label>Nationality</mat-label>
            <input matInput placeholder="Enter Nationality" [formControlName]="difFormEnum.Nationality">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Employee Neon Number</mat-label>
            <input matInput placeholder="Enter Neon Number" [formControlName]="difFormEnum.NEON">
          </mat-form-field>
        </div>
        <h2 class="col-12">Distributor</h2>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>FSMA Status</mat-label>
            <mat-select [formControlName]="difFormEnum.FSMAStatus" required>
              <mat-option *ngFor="let FSMAStatusvalue of FSMAStatusType" [value]="FSMAStatusvalue.value">
                {{FSMAStatusvalue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.FSMAStatus).invalid">Enter FSMA Status</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>AXA Distributor Status</mat-label>
            <mat-select [formControlName]="difFormEnum.AXADistributorStatus" required>
              <mat-option *ngFor="let AXADistributorStatusValue of AXADistributorStatusType"
                [value]="AXADistributorStatusValue.value">
                {{AXADistributorStatusValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.AXADistributorStatus).invalid">
              Enter FSMA Status
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Distributor Profile Type</mat-label>
            <mat-select [formControlName]="difFormEnum.DistributorProfileType" required>
              <mat-option *ngFor="let DistributorProfileValue of DistributorProfileTypeOptions"
                [value]="DistributorProfileValue.value">
                {{DistributorProfileValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.DistributorProfileType).invalid">Enter Distributor Profile Type
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Enterprise Number</mat-label>
            <input matInput placeholder="Enter Enterprise Number" [formControlName]="difFormEnum.EnterpriseNumber" required>
            <mat-error *ngIf="difForm.get(difFormEnum.EnterpriseNumber).invalid">Enter Enterprise Number</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>FSMA statute</mat-label>
            <mat-select [formControlName]="difFormEnum.FSMAstatute" required>
              <mat-option *ngFor="let FSMAstatuteValue of FSMAstatuteType" [value]="FSMAstatuteValue.value">
                {{FSMAstatuteValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.FSMAstatute).invalid">Enter FSMA statute</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Partner Type</mat-label>
            <mat-select [formControlName]="difFormEnum.PartnerType" required>
              <mat-option *ngFor="let PartnerValue of PartnerTypeOptions" [value]="PartnerValue.value">
                {{PartnerValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.PartnerType).invalid">Enter Partner Type</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Org Identifier</mat-label>
            <mat-select [formControlName]="difFormEnum.OrgIdentifier" required>
              <mat-option *ngFor="let OrgIdentifierValue of OrgIdentifierType" [value]="OrgIdentifierValue.value">
                {{OrgIdentifierValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.OrgIdentifier).invalid">Enter Org Identifier</mat-error>
          </mat-form-field>
        </div>
        <h2 class="col-12">Convention</h2>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [formControlName]="difFormEnum.Type" required>
              <mat-option *ngFor="let TypeOptionsValue of TypeOptions" [value]="TypeOptionsValue.value">
                {{TypeOptionsValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.Type).invalid">Enter Type</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>FSMA certificate</mat-label>
            <mat-select [formControlName]="difFormEnum.FSMACertificate" required>
              <mat-option *ngFor="let FSMACertificateValue of FSMACertificateType" [value]="FSMACertificateValue.value">
                {{FSMACertificateValue.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="difForm.get(difFormEnum.FSMACertificate).invalid">Enter FSMA certificate</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6" *ngIf='isPrefilled'>
          <h3>Status: {{difData.convention[0].process[0].status ? difData.convention[0].process[0].status : ''}}</h3>
        </div>
        <div class="col-12 text-center" *ngIf='!isPrefilled'>
            <button mat-raised-button color="primary" type="submit" class="w-50" [disabled]='difForm.invalid' *ngIf='!loading'>
              Create Convention</button>
              <button mat-raised-button color="primary" type="submit" class="w-50 mt-2" [disabled]='difForm.invalid'
            *ngIf='loading'>
            <div class="spinner-border text-light" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
      <h2 *ngIf="saved">Created Distributor Id: {{this.difData.distributor_id}}</h2>
    </mat-card-content>
  </mat-card>
</div>
